.Other{
    margin-top: 7%;
    align-items: center;
    padding: 6%;
}

.Other img{
    margin-left: 42%;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.Other h1{
    padding-top: 2%;
    margin-left: 38%;
}

.Other p{
    padding-top: 2%;
    margin-left: 32%;
    font-size: x-large;
}

.Other hr{
    margin: none;
    border: 1px solid black;
}

.Other button{
    margin-top: 2%;
    margin-left: 46%;
    font-size: x-large;
    background-color: black;
    color: white;
    padding: 0.5%;
    border-radius: 10px;
    transition: 0.5s;
}

.Other button:hover{
    background-color: white;
    color: black;
}